body {
  background-color: #0f172a;
}

p {
  color: azure;  
  font-family: sans-serif;
  text-align: center;
  margin: 0 auto;
}

h1, h2, h3, h4 {
  text-align: center;
  justify-content: center;
  margin-top: 15px;
  font-family: sans-serif;
  color: azure;
}

hr {
  color: azure;
  margin-bottom: 3%;
  margin-top: 2%;
  margin-left: 15%;
  margin-right: 15%;
}

.mainbox1 {
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  flex-direction: row;
}

.cardbox1 {
  padding-top: 3%;
}

.textbox1 {
  width: 400px;
  text-align: center;
  background-color: #344155;
}

.mainbox1 > .textbox1 > p {
  margin: 4px; 
}

.card1 {
  object-fit: contain;
  overflow:auto;
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

.timenumbertext {
  display: block;
}

.imgadd {
  border-radius: 10px;
  max-width: 100%;
  display: block;
  margin: 0 auto;
  height: 100px;
}

.flex {
  background-color: #232b38;
  display: flex;
  flex-wrap: wrap;
  max-width: 700px;
  margin: 0 auto;
  padding-top: 10px;
}

.flex > div {
  flex: 1 1 100px;
  margin: 5px;
}s

.flex > div > p {
  flex: 1 1 100px;
  margin: 10px;
}

.team {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 20px;
}

.timenumbertext {
  display:block;
}

.team-div {
  display: inline-block;
  margin-right:5%;
  margin-left:5%;
}

.reserva1t1 {
  max-width: 100%;
  display:block;
  background-color: black;
  margin: 0 auto;
}

/* FOOTER */
.footer-text {
  text-align: center;
  padding-bottom: 20px;
}

.agradecimentos {
  font-size: 14px;
}

/* GIRANDO A CARTA E REVELANDO A IMAGEM */
.flip-container {
  display: inline-block;
  width: 200px;
  height: 200px;
  perspective: 1000px;
  padding-top: 1%;
}

.flipper {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

#switch{
  display: none;
}

#switch:checked ~ .flip-container .flipper {
  transform: rotateY(180deg);
}

.front, .back {
  height: 250px;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  flex-direction: row;
}

.back {
  transform: rotateY(180deg);
}


@media (max-width: 620px) {
  
  h1, h2, h3, h4 {
    margin-top: 10px;
  }
   
  .mainbox1 {
    height: 200px;
  }
  
  .textbox1 {
    width: 350px;
  }
  
  .card1 {
    height: 200px;
  }

  .imgadd {
    border-radius: 5px;
    max-width: 100%;
    height: 70px;
  }
  
  .flex {
    max-width: 400px;
  }
  
  .flex > div {
    flex: 1 1 60px;
    margin: 2px;
  }
  
  .flex > div > p {
    flex: 1 1 60px;
    margin: 2px;
  }

  p {
    font-size: 13px;
    padding-bottom: 2px;
  }
}

@media (max-width: 566px) {
  hr {
    margin-top: 32%;
  }
}
